/*input[type=submit] {*/
/*    color: white;*/
/*    padding: 16px 32px;*/
/*    text-decoration: none;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*    border-radius: 4px;*/
/*    border: 1px solid transparent;*/
/*    background-color: #848498;*/
/*}*/

/*input[type=submit]:hover {*/
/*    border-color: #000000;*/
/*}*/

/*input[type=text] {*/
/*    color: white;*/
/*    padding: 16px;*/
/*    text-decoration: none;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    border-radius: 4px;*/
/*    border: 1px solid transparent;*/
/*}*/

.search-box {
  width: 600px;
  background: #fff;
  margin: 20px auto 0;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  /* to use all space at level at that row*/
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}

.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #e9f3ff;
}

.search-container {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.searchInput {
  /*width: calc(100% - 5px); !* Adjust this based on the width of the submit button *!*/
  width: 100%; /* Adjust this based on the width of the submit button */
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #636262;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  /*padding: 16px;*/
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  /*border-radius: 4px;*/
  /*border: 1px solid transparent;*/
}

/*.submitButton {*/
/*    width: 10px; !* Adjust based on how wide you want the submit button *!*/
/*    border-radius: 0 4px 4px 0;*/
/*    margin-left: -1px; !* Prevents double border between input and button *!*/
/*}*/

form {
  display: flex;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: #636262;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  /*overflow-y: auto;*/
  /*z-index: 1000;*/
}

.dropdown-content li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #8e8d8d;
}
